.main-button {
    color: black !important;
    background-color: white !important;
    border-color: white;
}


/* Should be same colour as main-background */
.secondary-button {
    background-color: #5e5069 !important;
    border-color:  #624772 !important;
}

.main-background {
    background-image: linear-gradient(to bottom right, rgb(149, 125, 163), rgb(60, 27, 70)) !important;
}

body {
    background-color: #f7f5f6 !important;
}

.main-text {
    color: #f5f7f6 !important;
}

.secondary-text {
    color: #E4E1DD !important;
}

.main-link {
    color: #E4E1DD !important;
}

.main-link:hover{
    color: #39a5dc !important;
}

/* For login window buttons */
#firebaseui-auth-container button {
    color: white;
    background-color: #CC0300;
}
