html{
    height: 100%;
}

body{
    background-image: linear-gradient(to bottom, rgb(112, 103, 117), rgb(49, 35, 53)) !important;
    color: black;
    text-align: center;
}
article {
    
    text-align: justify;
    margin: 50px 80px 20px 80px;
    }

h2{
    font-family: 'Playfair Display', serif;
    animation-name: example;
    animation-duration: 4s;
}
section {
    animation-name: example;
    animation-duration: 8s;
    
  }
  
  @keyframes example {
    from {color: rgba(0, 0, 0, 0);}
    to {color: rgb(0, 0, 0);}
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}


#container {
    animation-name: fadein;
    animation-duration: 10s;
    height: 100%; 
    width: 100%; 
    font-size: 0;
    
    margin-right: 80px;
}

#left, #middle, #right {
        
    text-align: justify;
    margin: 50px 80px 20px 80px;
    display: inline-block; 
    *display: inline; zoom: 1; 
    vertical-align: top; 
    font-size: 12px;}

#left {
    float: left;
    background: rgba(0, 0, 255, 0);
}

#middle { 
    float: right; 
    background: rgba(0, 128, 0, 0);

}

#purp{
    width: 400px;
}
img{

    border-bottom-left-radius: 10%;
    border-top-right-radius: 20%;

}

  