#body {
    background-color: #2B2D31;
}

#firebaseui-auth-container {
    margin: auto;
    margin-top: 8%;
    padding: 20px 0px;
    border-radius: 20px;
    width: 400px;
}

#firebaseui-auth-container h3{
    text-align: center;
    padding: 30px, 0px;
    margin-bottom: 40px;
}

.nav-link {
    color: white !important;
}

@media screen and (max-width: 400px) {
    #firebaseui-auth-container {
        width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 400px) {
#firebaseui-auth-container {
        margin-top: 20%;
    }
}