/* Entire menu as a div*/
#menuencapsulated{
    position: relative;
    height: 1000px;
    text-align: center;
    width: 50%;
    margin: 0 auto;

}

#border{
    height: 900px; 
    width: 600px; 
    
}

/* Menu Elements */
#menutitle{
    position: absolute;
    top: 10%;
    left: 45%;

}
#sectiontitle{
    position: absolute;
    top: 25%;
    left: 45%;
}
.separator {
    position: absolute;
    top: 30%;
    left: 37%;
    width: 200px;
} 

.item{
    position:absolute;
    top: 35%;
    left: 35%;

}
.price{
    position:absolute;
    top: 35%;
    left: 65%;  
}