/* Entire menu as a div*/
.menu{
    position: relative;
    width: 600px;
    height: 800px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: solid 5px black;
}

.restaurant-name {
    margin-bottom: 50px;
}

.course * {
    margin: 10px;
}

.separator {
    width: 400px;
}