body{
    background-color: rgba(55, 49, 58, 0.856) !important;
}

#savepdf{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    background:url(../media/pdfimg.png) no-repeat;
    background-size:cover;
    border-color: white ;
}

#generate_menu{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    background:url(../media/saveimgicon.png) no-repeat;
    background-size: cover;
    border-color: white ;
}
.headers{
    color: white; 
}

.accordion{
    background-image: linear-gradient(to bottom, #44A08D, #093637) !important;
}

#backgroundalpha{
    background-color: rgba(255, 255, 255, 0.116);
}

.description{
    text-align: center;
    font-family:'Times New Roman', Times, serif !important;
    color: white;
    font-size: 1.2rem;
}

.menu {
    margin: 15px auto;
    width: 100%;
    max-width: 700px;
    height: 750px;
    border: solid 5px black;
}

.restaurant-name {
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 70px 10px 10px;
}

.separator {
    margin-left: 350px;
    width: 30%;
}

.course-type {
    margin: 0px 0px;
    text-align: right;
    margin-right: 70px;
    margin-left: 40%;
    font-size: 20px;
    font-weight: bold;
}

.course-name {
    text-align: right;
    margin: 1% 0px;
    margin-right: 70px;
    margin-left: 40%;
    font-size: 15px;
    font-weight: bold;
}

.course-description {
    text-align: right;
    margin: 1% 0px;
    margin-right: 70px;
    margin-left: 40%;
    font-size: 12px;
}

.course-price {
    text-align: right;
    margin: 1% 0px;
    margin-right: 70px;
    margin-left: 40%;
}

main {
    background-color: white;
}

#output {
    position: relative;
    width: 100%;
    height: 100%;
}

.controls-wrapper {
    border: 1px black solid;
    padding: 15px 20px;
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    z-index: 99;
    background: linear-gradient(to bottom, rgb(112, 103, 117), rgb(49, 35, 53)) !important;;
}

.bg-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.color-circles {
    width: 40px;
    height: 40px;
    border-radius: 21px;
    display: inline-block;
    border: 2px solid darkgrey;
    margin-right: 20px;
    margin-bottom: 30px;
}

.color-circles:hover {
    transform: scale(1.5);
    cursor: pointer;
}
/* gradients */
.bg-tealgrad {
    background-image: linear-gradient(to bottom, #44A08D, #093637);
}

.bg-blackgrad {
    background-image: linear-gradient(0.25turn, #0F2027, #203A43, #2C5364);
}

.bg-goldgrad {
    background-image: linear-gradient(to bottom, #CAC531, #F3F9A7);
}

.bg-greygrad {
    background-image: linear-gradient(to right, #ADA996, #F2F2F2,#DBDBDB,#EAEAEA);
}

.bg-whitegrad {
    background-image: linear-gradient(to right, #E0EAFC, #CFDEF3);
}

.bg-azure {
    background-color: azure;
}

.bg-lemongrad {
    background-image: linear-gradient(to right, #A1FFCE, #FAFFD1);
}

.bg-coralgrad {
    background-image: linear-gradient(to bottom, #B24592, #F15F79);
}

.bg-salmongrad {
    background-image: linear-gradient(to right , #e96443, #904e95)
}

.bg-skygrad {
    background-image: linear-gradient(to top ,#56CCF2, #2F80ED)
}

.bg-cyan {
    background-color: lightcyan;
}

.bg-chocolatesgrad {
    background-image: linear-gradient(to top ,#ffe259, #ffa751)
}

/* for font */
.bg-teal {
    background-color: teal;
}

.bg-black {
    background-color: black;
}

.bg-gold {
    background-color: gold;
}

.bg-grey {
    background-color: darkgrey;
}

.bg-white {
    background-color: white;
}

.bg-azure {
    background-color: azure;
}

.bg-lemon {
    background-color: lemonchiffon;
}

.bg-coral {
    background-color: lightcoral;
}

.bg-salmon {
    background-color: lightsalmon;
}

.bg-coral {
    background-color: lightcoral;
}

.bg-sky {
    background-color: lightskyblue;
}

.bg-cyan {
    background-color: lightcyan;
}

.bg-chocolate {
    background-color: chocolate;
}

.minu-success {
    background-color: #28527a;
    color: white;
}

.minu-primary {
    background-color: #28527a;
    color: white;
}

.border-box {
    height: 50px;
    padding-top: 10px;
    width: 100px;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.border-box:hover {
    transform: scale(1.1);
}

.border-dotted {
    border: 5px dotted black;
    background-color: rgba(255, 255, 255, 0.116);
}

.border-solid {
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.116);
}

.border-dotted-thick {
    border: 7px dotted black;
    background-color: rgba(255, 255, 255, 0.116);
}

.border-solid-thick {
    border: 7px solid black;
    background-color: rgba(255, 255, 255, 0.116);
}

#addDishBtn {
    float: right;
    clear: both;
}

#dishes-wrapper {
    margin-bottom: 25px;
}

#apply-change-btn {
    height: 100px;
    width: 100px;
    background:url(../media/Clipboard.jpg) no-repeat;
    background-size: cover;
    margin-top: 20px;
    border-radius: 50%;
}

.circle_selected {
    border: 3px solid lightgreen;
}

.controls-wrapper h4 {
    text-align: center;
}

#last-step {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 40px;
    cursor: pointer;
}

#next-step {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 40px;
    cursor: pointer;
}

.dish-inputs {
    margin-bottom: 5px;
}

#db-div {
    height: 500px;
    overflow-y: scroll;
}