#textbox{
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: grey;
}

#maintoolbox{
    background-color: rgb(110, 123, 150);
    width: 100%;
    height: 800px;
    
}

#toolbox{
    float: left;
}

#menusample{
    width: 600px;
    height: 800px;
    background-color: white;
    float: right;
}

#menutitle{
    margin-left: 200px;
    text-align: center;
    height: 30px;
    width: 40%;
}
