.navbar {
    padding: 20px;
    background-color: #28527a;
}

.profileimg{
    position: inherit;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-color: rgb(83, 163, 228);
    border-width: 2px;
    margin-left: 85%;
    background-image: url("../images/64096.png");
    background-size: 100%;
    z-index: 10;
    background-color: rgba(255, 0, 0, 0);
  }
  

.nav-item {
    margin-left: 40px;
}

.navbar-brand {
    font-size: 24px;
    align-self: flex-start;
}

.navbar-brand:hover {
    color: white;
}

#wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
    padding: 20px 20px 0 10px;
}

#menus {
    flex: 1;
    padding: 20px;
    height: 100%;
}

#infos {
    flex: 0.4;
    padding: 20px 20px 20px 40px;
    border-left: 1px solid darkgray;
    height: 100%;
}

.form-label {
    color: darkgray;
}

.editbtns {
    float: right;
    cursor: pointer;
    color: #28527a;
}

.actions i{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #28527a;
}

.sub-titles {
    margin-bottom: 15px;
}

.table-rows {
    height: 60px;
    vertical-align: middle;
}