* {
    color: black;
}

body {
    background-color: #26272b;
}

#wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
    padding: 20px 20px 0 10px;
}

#menus {
    flex: 1;
    padding: 20px;
    height: 100%;
}

#menus > h2 {
    margin-bottom: 30px;
}

#menus > h4 {
    float: left;
    margin-right: 40px;
}

#infos {
    flex: 0.4;
    padding: 20px 20px 20px 40px;
    border-left: 1px solid darkgray;
    height: 100%;
}

.btn {
    margin-top: -5.5px;
}

.form-label {
    color: darkgray;
}

.editbtns {
    float: right;
    cursor: pointer;
    color: #28527a;
}

.actions i{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #28527a;
}

.sub-titles {
    margin-bottom: 15px;
}

.table-rows {
    height: 60px;
    vertical-align: middle;
}
