#body {
    background-color: #2B2D31;
}

#firebaseui-auth-container {
    background-color: #EBEBEB;
    margin: auto;
    margin-top: 8%;
    padding: 20px 0px;
    border-radius: 20px;
    border: 1px solid #F5F5F5;
    width: 400px;
}

#firebaseui-auth-container h3{
    text-align: center;
    padding: 30px, 0px;
    margin-bottom: 40px;
}

#help-button-container {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

#help-button {
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: #C4C4C4;
    top: 0;
    left: 0;

}

#help-button:hover {
    background-color: #949494;
}

#help-message-container {
    background-color: #EBEBEB;
    position: absolute;
    bottom: 20px;
    right: 70px;
    height: 150px;
    width: 140px;
    border-radius: 10px;
    display: none;
}

#help-message {
    padding: 10px 10px;
}


@media screen and (max-width: 400px) {
    #firebaseui-auth-container {
        width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media screen and (max-width: 400px) {
#firebaseui-auth-container {
        margin-top: 20%;
    }
}