body {
    background-color: #2B2D31;
}

body button {
    border:none;
}

#filter-button {
    text-align: center;
    height: 35px;
    width: 7%;
    border-radius: 6px;
    background-color: #C4C4C4;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#filter-button:hover {
    background-color: #949494;
}

.menu-template {
    width: 30%;
    margin-left: 10%;
    margin-bottom: 8%;
}

.menu-template:hover {
    filter: drop-shadow(0 0 0.75rem #bb86fc);
}

#help-button-container {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

#help-button {
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #C4C4C4;
    top: 0;
    left: 0;
}

#help-button:hover {
    background-color: #949494;
}

#help-message-container {
    background-color: #EBEBEB;
    position: fixed;
    bottom: 20px;
    right: 70px;
    height: 150px;
    width: 140px;
    border-radius: 25px;
}

#help-message {
    padding: 10px 10px;
}

#return-to-top-button-container{
    position: fixed;
    bottom: 70px;
    right: 25px;
}

#return-to-top-button {
    text-align: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #C4C4C4;
    top: 0;
    left: 0;
}

#return-to-top-button a{
    text-decoration: none;
    color: black;
}

#return-to-top-button:hover {
    background-color: #949494;
}

@media screen and (max-width: 850px) {
    #filter-button {
        text-align: center;
        height: 35px;
        width: 60px;
        border-radius: 6px;
        background-color: #C4C4C4;
        margin-top: 4%;
        margin-left: 10%;
        margin-bottom: 3%;
    }
    
    .menu-template {
        width: 60%;
        margin-bottom: 8%;
    }
}